/*
[dir=rtl] .s-slider-block__title h2 {
    color: #8e35ee;
}
.sicon-user-circle:before, .sicon-shopping-bag:before,.s-cart-summary-total,.sicon-menu:before {
    color: white;
 }
.top-navbar, div#mainnav {
    background: #8f32e4;
    color: white;
}
.footer-is-light .store-footer .store-footer__inner:before {
    content: '';
    background: url(https://cdn.salla.sa/YgDBQW/fjmcfig2alF1hRbCZGvJbv5d1MMGhC4p7uAxahEp.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 86px;
    background-position: center;
    margin-bottom: 29px;
}
.s-button-primary-outline {
    color: #ffffff;
    background: var(--color-primary);
}
.footer-is-light .store-footer .store-footer__inner {
    background: #8e35ee;
    color: white;
        border-radius: 30px;
}
.bg-gray-50 {
    
    background-color: white;
}
[dir=rtl] salla-slider.photos-slider .swiper {
    padding-right: 0rem !important;
}
   [dir=rtl] .carousel-slider .swiper {
    padding-left: 0rem !important;
}
salla-slider.photos-slider .swiper-slide {
    position: relative;
   margin: 0px !important;
    padding: 0px;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 0rem;
}
.rounded-md {
    border-radius: 0rem !important;
}
.swiper.s-slider-container.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-rtl.swiper-backface-hidden {
    padding: 0px;
}
section:first-of-type.s-block.s-block--photos-slider {
    margin: 0px !important;
}

 .grid.one-row.md\:grid-cols-2.grid-flow-row.gap-3.sm\:gap-8,.grid.md\:grid-cols-3.two-row.grid-flow-row.gap-3.sm\:gap-8{
    display: flex;
    flex-wrap: wrap;
}
.lazy__bg.lazy.entered.loaded {
    background-size: contain;
    background-repeat: no-repeat;
}
 .banner--fixed img {
    background: #faebd700;
}   

.grid.one-row.md\:grid-cols-2.grid-flow-row.gap-3.sm\:gap-8 .banner-entry {
    width: 47%;
    height: 590px !important;
    background: #f9fafb00;
}
.grid.md\:grid-cols-3.two-row.grid-flow-row.gap-3.sm\:gap-8 .banner-entry {
    width: 22%;
    height: 138px !important;
    background: #f9fafb00;
}
 @media (max-width: 480px) { 
 .grid.one-row.md\:grid-cols-2.grid-flow-row.gap-3.sm\:gap-8 .banner-entry {
    width: 48%;
     height: 163px !important;
         background: #f9fafb00;
    }
    .grid.md\:grid-cols-3.two-row.grid-flow-row.gap-3.sm\:gap-8 .banner-entry {
    width: 48%;
    height: 100px !important;
    background: #f9fafb00;
}
  } 
        
@media (min-width: 481px) and (max-width: 767px) { 
 .grid.one-row.md\:grid-cols-2.grid-flow-row.gap-3.sm\:gap-8 .banner-entry {
    width: 47%;
    height: 163px !important;
    background: #f9fafb00;
    }
    .grid.md\:grid-cols-3.two-row.grid-flow-row.gap-3.sm\:gap-8 .banner-entry {
    width: 48%;
    height: 100px !important;
    background: #f9fafb00;
}
 }

*/ 


